%h1 How are my Raiders this year?

#main
  #pad
    #logo
      %img{ :src => "/images/logo.png", :alt => "Oakland Raiders" }

    %dl
      %dt Record:
      %dd.record= "#{@stats[:wins]} - #{@stats[:losses]}"

      %dt Division Rank:
      %dd.rank= @stats[:rank]

    %hr

    %dl
      %dt Total Offense:
      %dd.total_offense= "##{ @stats[:total_offense] }"

      %dt Passing Offense:
      %dd.passing_offense= "##{ @stats[:passing_offense] }"

      %dt Rushing Offense:
      %dd.rushing_offense= "##{ @stats[:rushing_offense] }"

    %hr

    %dl
      %dt Total Defense:
      %dd.total_defense= "##{ @stats[:total_defense] }"

      %dt Passing Defense:
      %dd.passing_defense= "##{ @stats[:passing_defense] }"

      %dt Rushing Defense:
      %dd.rushing_defense= "##{ @stats[:rushing_defense] }"

#footer
  Created by Emilio Cavazos

