%h1 How are my Raiders this year?
#main
  %dl
    %dt Total Offense:
    %dd ##{@tot_off}

    %dt Passing Offense:
    %dd ##{@off_pas}

    %dt Rushing Offense:
    %dd ##{@off_rus}
  %hr
  %dl
    %dt Total Defense:
    %dd ##{@tot_def}

    %dt Passing Defense:
    %dd ##{@def_pas}

    %dt Rushing Defense:
    %dd ##{@def_rus}
  %hr
  %dl
    %dt
      Record:
    %dd
      ???
    %dt
      Division Rank:
    %dd
      ???

